/*************** Reset ***************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

img {
    width: 100%;
}

#logo {
    display: inline-block;
    vertical-align: middle;
}

/*************** Utility ***************/
/* Layout */
.large-container {
    max-width: 1200px;
    margin: 0 auto;
}
.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* Columns */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
}
.col-dx {
    float: right;
}

/* List */
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
li a {
    color: black;
}
ul li a:hover {
    text-decoration: underline;
}

/* Size */
.h-50 {
    height: 50px;
}
.h-70 {
    height: 70px;
}
.w-20 {
    width: 20%;
}
.w-30 {
    width: 30%;
}
.w-33 {
    width: calc(100% / 3 - 20px);
}
.w-40 {
    width: 40%;
}
.w-50 {
    width: 50%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}

/* Text size */
.f-12 {
    font-size: 12px;
}
.f-14 {
    font-size: 14px;
}
.f-15 {
    font-size: 15px;
}
.f-35 {
    font-size: 35px;
}
.f-38 {
    font-size: 38px;
}
.f-70 {
    font-size: 70px;
}

/* Padding size */
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.pl-20 {
    padding-left: 20px;
}
.pr-50 {
    padding-right: 50px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-250 {
    padding-top: 250px;
}
.pb-30 {
    padding-bottom: 30px;
}

/* Margin size */
.m-30 {
    margin: 0 30px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-150 {
    margin-top: 150px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mr-20 {
    margin-right: 20px;
}

/* Size heading - p*/
h3 {
    font-size: 22px;
    padding-bottom: 15px;
}
h4 {
    font-size: 14px;
    padding: 10px 0;
}
p {
    font-size: 14px;
}
/* Text alignment */
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* Button */
.btn.btn-blue {
    background-color: #0061ff;
    color: #fff;
    padding: 6px 40px;
}

.btn.btn-white {
    border: 1px solid black;
    color: black;
    padding: 6px 15px;
}


/* Background */
.bg-lightblue {
    background-color: #b4d0e7;
}

/* Icons */
.far, .fas {
    margin-right: 5px;
}

.fas.fa-check {
    color: #0061ff;
}

/*************** Header ***************/
/* Header - top-bar */
.top-bar ul, .top-bar ul li {
    display: inline-block;
    line-height: 70px;
    padding: 0 20px;
    font-size: 14px;
}

.col-dx .btn.btn-blue{
    color: #fff;
    padding: 4px 12px;
}

.col-dx ul, ul li:last-child {
    padding-right: 2px;
}

/* Header - spotlight */
.bg-spotlight {
    height: calc(100vh - 70px);
}

#btn-spotlight .btn-blue{
    color: #fff;
    padding: 5px 20px;
}

.spotlight-container .col.w-30 a{
    color: black;
}

/*************** Main ***************/
/****** Main - section: Dropbox Business plan *****/
.col .body-col {
    height: 800px;
}
.info-plan {
    font-size: 12px;
}

.plans-container .col .body-col {
    border: 1px solid lightgray;
}

/* Radio button option */
.radio-button .option {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid lightgray;
    border-radius: 50%;
    vertical-align: middle;
}

.radio-button .option.selected-option {
    border: 5px solid #0061ff;
}

/* Info plan */
#plans .info-plan .period {
    color: rgb(110, 109, 109);
    padding-top: 8px;
    padding-bottom: 40px;
}

.info-plan ul li {
   padding: 10px 0;
}

.info-plan .btn-plan {
    padding-top: 40px;
    padding-bottom: 30px;
}

.info-plan .text-buy-option {
    color: #0061ff;
    text-decoration: underline;
}

.info-plan hr {
    border: 0.1px solid rgb(192, 192, 192);
}

.info-plan h4 {
    padding-top: 30px;   
}

/* Main - section: sales-section */
.sales-section {
    margin-top: 40px;
    border: 1px solid lightgray;
}

.sales-section .body-col .col h3, .sales-section .body-col .col-dx .btn {
    line-height: 50px;
}


